<% provide(:title, "All Courses") %>
<h1>All Courses</h1>

<ul class = "courses">
    <% @courses.each do |course| %>
        <li>
            <%= link_to(image_tag(course.fetch("img_name"), alt: course.fetch("name")), "/") %>
            
            <%= link_to course.fetch("name"), ("courses/" + course.fetch("id").to_s) %>
            Coordinate:<%= course.fetch("user") %>
            <%= course.fetch("desc") %>
            <% if !!current_user && current_user.admin? %>
                |
                <%= link_to "delete", user, method: :delete, data: {confirm: "You sure?" }%>
            <% end %>
        </li>
    <% end %>
</ul>

