<% provide(:title, "All Courses") %>
<h1>All Courses</h1>

<ul class = "courses">
    <% @courses.each do |course| %>
        <% user = course.fetch("user") %>
        <% @user = User.find(user)  %>
        <li>
            <%= link_to(image_tag(course.fetch("img_name") || "course.jpg", alt: course.fetch("name")), "/") %>
            <br />
            Name:<%= link_to course.fetch("name"), ("/courses/" + course.fetch("id").to_s) %>
            <br />
            Coordinate:<%= @user.name %>
            <br />
            Description: <%= course.fetch("desc") %>
            <br />
            Created at: <%= time_ago_in_words(course.fetch("created_at")) %> Ago
            <br />
            <% if !!current_user && current_user.admin? %>
                |
                <%= link_to "delete", user, method: :delete, data: {confirm: "You sure?" }%>
            <% end %>
            <br />
            <div>
                <% if !logged_in? %>
                    ups
                <% else %>
                    <%= link_to "ups", ("/thumbupdown?type=1&id=" + course.fetch("id").to_s) %>
                <% end %>
                <span>
                    <%=course.fetch("thumb_ups").to_i %>
                </span>

                <% if !logged_in? %>
                    downs
                <% else %>
                    <%= link_to "downs", ("/thumbupdown?type=2&id=" + course.fetch("id").to_s) %>
                <% end %>
                <span>
                    <%= course.fetch("thumb_downs").to_i %>
                </span>
            </div>            
            
        </li>

    <% end %>
</ul>

